<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edgy">
    <title>About me</title>
    <!--Costume style-->
    <link rel="stylesheet" href="/css/style.css">
    <!--Font awesome icons-->
    <link rel="stylesheet" href="/css/all.css">
    <!--Owl carousel Library-->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
</head>
<body>
  
    <!--=============The loading section===========-->
    <div class="loader_bg">
        <div class="loader">
        </div>
    </div>
     <!--====x=========The loading section=====x======--><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edgy">
    <title>Blog Page</title>
    <!--Costume style-->
    <link rel="stylesheet" href="./css/style.css">
    <!--Font awesome icons-->
    <link rel="stylesheet" href="./css/all.css">
    <!--Owl carousel Library-->
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
    <style>



    </style>
</head>
<body>
  
    <!--=============The loading section===========-->
    <div class="loader_bg">
        <h2>Loading ... !</h2>
        <div class="loader">     
        </div>
    </div>
     <!--====x=========The loading section=====x======-->
    <!------------------------------------------------------- Navigation------------------------------------------------>
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray">
                    <img id="logo1" src="assets/logo.png">
                    <img id="logo2" src="assets/logo2.png" >
                    
                </a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icon">
                    <i class="fas fa-hamburger"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link"><a href="/" ><i class="fas fa-home"></i> &nbsp;Home</a></li>
                    <li class="nav-link"><a href="/blog/page=1"><i class="fas fa-feather-alt"></i> &nbsp;Blog</a></li>
                    <li class="nav-link"><a href="/about" class="current"><i class="far fa-smile-beam"></i> &nbsp;About</a></li>
                    <li class="nav-link"><a href="#contact" id="contact-link"><i class="fas fa-mobile-alt"></i> &nbsp;Contact</a></li>
                </ul>
            </div>
            <div>
                <div class="social text-gray">
                     <a href="https://www.facebook.com/Sombre.huh/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/dream_.y/" target="_blank"> <i class="fab fa-instagram"></i></a>
                 <a href="https://www.pinterest.com/iam_dreamy/" target="_blank"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-------------x-------------x----------------------------- Navigation----------x-----------------------x--------------->

    
        <div class=""> 
            <img src="./assets/About me.jpg" alt="" class="responsive1">
            <img src="./assets/Responsive about me.jpg" alt="" class="responsive2">


        </div>

<!----------------------------------------------------- Footer Section------------------------------------------------>
<footer class="footer" id="contact">
    <div class="container">
        <div class="follow-me">
            <h4>Find me on</h4>
            <p>My social Accounts</p>
            <div class="">
                <a href="https://www.facebook.com/Sombre.huh/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/dream_.y/" target="_blank"> <i class="fab fa-instagram"></i></a>
                 <a href="https://www.pinterest.com/iam_dreamy/" target="_blank"><i class="fab fa-pinterest"></i></a>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <h4>| Copyrights @2020 All rights reserved | made by <cite>Dreamy Altheda</cite></h4>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-alt-circle-up"></i></span>
    </div>
</footer>

<!--------------x-------------------x-------------------- Footer Section-----------x-------------------x------------------>




    




  
    <!--Pinterest Javascript-->
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<!--Jquery library -->
<script src="/js/jquery3.5.1.min.js"></script>
<!--Costume javascript-->
<script src="/js/main.js"></script>
<!--Owl Carousel library-->
<script src="/js/owl.carousel.js"></script>

</body>
</html>