<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edgy">
    <title>Error page</title>
    <!--Costume style-->
    <link rel="stylesheet" href="/css/style.css">
    <!--Font awesome icons-->
    <link rel="stylesheet" href="/css/all.css">
    <!--Owl carousel Library-->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
<style>
	.v-center{
	 margin: 0;
  position: absolute;
  top: 63%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	}</style>
</head>
<body>
    <!--=============The loading section===========-->
    <div class="loader_bg">
        <h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Loading...!</h2>
        <div class="loader">
         
        </div>
    </div>
    <!--====x=========The loading section=====x======-->
	 <div style="height : auto; overflow-y : hidden;"> 
            <img src="/assets/error.jpg" alt="" class="responsive1">
            <img src="/assets/error-res.jpg" alt="" class="responsive2">

        </div>

	
	
	
	
	
	
	
<!--Pinterest Javascript-->
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <!--Jquery library -->
    <script src="/js/jquery3.5.1.min.js"></script>
    <!--Costume javascript-->
    <script src="/js/main.js"></script>
    <!--Owl Carousel library-->
    <script src="/js/owl.carousel.js"></script>

</body>
</html>