<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/all.css">
        <!-- flickity CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <style>
      #blog-banner{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
      }
  </style>
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="logo-container">
        <img src="assets/images/logo.png" alt="logo goes here" style="width: 300px;">
    </div>
    <hr>
    <nav class="sticky-top navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""><i class="fas fa-hamburger"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul  class=" mb-lg-0">
              <li class="">
                <a class=" active" aria-current="page" href="#"><i class="fas fa-home"></i></span>&nbsp;Home</a>
              </li>
              <li class="">
                <a class="" href="#"><i class="fas fa-book"></i>&nbsp;Blog</a>
              </li>
              <li class="">
                <a class="" href="#">About</a>
              </li>
              <li class="">
                <a class="" href="#"><i class="fas fa-pen"></i></span>&nbsp;Contact</a>
              </li>
              <li class="socials">
                <ul>
                  <li class="social-icons"><span><i class="fab fa-instagram"></i></span></li>
                  <li class="social-icons"><span><i class="fab fa-pinterest"></i></span></li>
                  <li class="social-icons"><span><i class="fab fa-facebook"></i></span></li>
              </ul>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
  
<div id="blog-banner" class=" container-fluid" style="height: 500px; ">
    <div style="align-self: center; color: whitesmoke;">
    <h1 class="text-center">Blog title goes here</h1>
    <ul class="info">
        <li><i class="far fa-calendar-alt"></i>&nbsp;July 22th 2020</li>
        <li><i class="fas fa-pen-fancy"></i>&nbsp;By ikram m.</li>
        <li><i class="far fa-clock"></i>&nbsp;read time :2 minutes </li>
      </ul>
    </div>
</div>
<!--the blog body =====>>>>>>-->
<div class="row">
    <!--content-->
    <div class="col-md-9">
        <h4>We are doing something </h4>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quia earum animi suscipit! Ullam, deleniti!</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quibusdam corporis dolorem aperiam cupiditate corrupti provident obcaecati at sint assumenda odit ab natus, consectetur quaerat sed dolor amet tempora rerum placeat similique omnis dignissimos quos itaque nemo. Dolorum, nobis aliquam natus illum, illo id tempore ipsam vel repellendus sint, quasi vero ullam eius hic autem?</p>
        <img src="https://images.unsplash.com/photo-1597441205491-f5c9bc18be6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=937&q=80" alt="" class="img-fluid">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus non explicabo omnis accusamus quas consequatur distinctio modi velit pariatur recusandae impedit dolorum, magni dignissimos repellendus nam aliquam itaque sequi reprehenderit alias illum eos, illo obcaecati sit ipsa. Ut quibusdam, voluptatem doloribus, expedita et tenetur qui maiores debitis, eos doloremque mollitia suscipit excepturi? Accusamus reiciendis, earum cupiditate eaque dicta autem quos blanditiis nemo natus esse error ipsa ut, omnis quasi ipsum iste doloribus at quod doloremque sunt ab officiis, voluptas ex. Atque, ut. Est corrupti recusandae distinctio fuga tempore aliquam, qui expedita deserunt obcaecati consequuntur minus minima nobis. Error dicta eos animi, ad nisi non quos.</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates odio, aperiam, mollitia libero reprehenderit iste earum minima eum ad voluptatum quia fuga ullam quis, tenetur nihil ut perspiciatis consectetur facere. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, officiis vitae harum quo qui ratione tenetur iste delectus quae facere eum! Praesentium accusamus consequatur quis atque laudantium facere accusantium qui molestiae similique excepturi saepe, corporis voluptatum fuga sunt voluptatem illo fugit. Officiis hic accusantium velit aliquid. Minima molestias, nostrum est dolores dolorum quam deserunt necessitatibus temporibus accusantium similique quas eveniet unde dolor magni soluta corporis voluptatibus dicta. Iste et soluta excepturi autem quaerat dicta repellendus? Beatae aliquam, ab sit incidunt cum minus facilis nesciunt possimus excepturi molestias, explicabo reiciendis, enim nihil quia sequi. Ab perspiciatis odio expedita officia. Ab rem obcaecati totam tenetur id laudantium ad dolores officia alias, ullam, hic consectetur quasi libero dignissimos sequi accusamus nobis. Nostrum id repellendus, non ad alias a voluptate. Sunt, ratione sapiente quisquam similique autem consequuntur eius libero molestiae veniam iste assumenda porro obcaecati mollitia. Repellat sapiente fugit adipisci eligendi molestiae iure sit eius dolor dolores temporibus beatae maxime tempore asperiores laboriosam eos porro veniam, perferendis accusantium dicta labore, voluptatibus minus? Itaque amet delectus architecto vero velit vitae nihil ducimus, obcaecati in qui nulla voluptatem numquam fugit veniam et minus non est, voluptatum repudiandae alias corrupti aliquid. Assumenda dolores eligendi eos voluptas possimus. Quod quis optio ratione atque, provident sint id architecto temporibus culpa rerum animi totam distinctio ea voluptas velit voluptatibus numquam similique odio necessitatibus quos exercitationem? Quidem repellat assumenda porro esse corporis tenetur impedit minima laudantium. Ipsam, facilis nulla enim praesentium atque, molestias aliquam nam inventore suscipit fugit obcaecati nostrum. Placeat minima eum, mollitia dignissimos maiores voluptatibus ex voluptate, delectus expedita sint vel! Possimus tenetur ut provident, consequatur nam iste quasi dolorum aliquam iure, qui ipsam quos architecto iusto molestiae praesentium obcaecati perferendis deserunt voluptas reprehenderit magni dolorem blanditiis quas? Inventore, distinctio numquam in molestias, ipsa culpa quos, voluptatibus nisi amet rerum ratione placeat itaque eveniet laborum repellendus illum! Quas quae necessitatibus blanditiis ex vitae. Eos nam commodi ipsam totam assumenda sit itaque. Tempore minus, quibusdam sapiente repudiandae dolores amet explicabo corporis nulla omnis a non. Vero voluptates natus ullam, soluta doloribus reiciendis iure voluptatibus nesciunt molestiae, excepturi autem quod, delectus quaerat consequatur amet minus veritatis quidem exercitationem explicabo aliquid rem beatae qui accusantium. Repudiandae itaque eaque aliquam iure sunt consectetur quis possimus tempore, nisi, quod animi ut fuga! Fuga amet quisquam reprehenderit fugiat unde illo praesentium placeat! Inventore tenetur aliquid qui ab id facere unde aut impedit quod, reiciendis recusandae neque temporibus necessitatibus ex quas delectus soluta omnis, nisi ipsum atque laborum! Quibusdam molestias, mollitia vel dignissimos rerum beatae obcaecati labore consequuntur iste sunt quas. Voluptatem alias earum fuga, explicabo accusamus ullam eum non quaerat, temporibus quisquam velit vel aliquid odit magnam tempora. Maiores nulla eveniet reiciendis sequi culpa omnis cupiditate quos libero qui corrupti quod illo mollitia quis repellendus numquam necessitatibus adipisci sunt aliquam porro aut, non, officiis et voluptate maxime. Laborum error doloribus id sint ad. Magni, aspernatur earum vel aperiam quisquam, nisi ut omnis consequatur minima ea id ipsam? Quam inventore nesciunt ea nisi asperiores reiciendis architecto.
    </div>
    <div class="col-md-3">
        <h3 class="headers">About me</h3>
        <div class="my-profile">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1535982606227-475c9bf94018?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
            <div class="my-profile-body text-center">
                <h5>Hey there!</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, ipsum?</p>
            <a href="#" class="btn">See More </a>
            </div>
            <br><br>
            <h3 class="text-center">contact</h3>
            <div class="my-profile-socials">
                <ul>
                    <li class="social-icons"><span><i class="fab fa-instagram"></i></span></li>
                    <li class="social-icons"><span><i class="fab fa-pinterest"></i></span></li>
                    <li class="social-icons"><span><i class="fab fa-facebook"></i></span></li>
                </ul>
            </div>
        </div>
        <div class="justify-content-center">
            <h5 class="headers">Enjoy My writings? </h5>
            <img src="assets/images/typewriter.png" alt="" class="img-fluid">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, tempora.</p>
            <a href="" class="btn">Find me </a>
        </div>
    </div>
</div>
<!--xxxLeave a commment ====>> -->

<!--xxxLeave a commment ====>> -->

<!--Read next ==== >> -->

<!--Read next ==== >> -->





</div> <!--end of container-->






      <!--THE FOOTER SECTRION ============>>>>> -->
<footer>
    <div class="container">
      <div class="logo-container">
        <img src="/assets/images/logo-night.png" alt="">
      </div>
        <div class="row">
            <div class="col-sm-4">
                <h5>About Me</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptatum aliquid nam molestiae ab, odio placeat. Molestias nostrum quibusdam nisi.</p>
            </div>
            <div class="col-sm-4 p-4">
                <h4>find Me on on <i style="font-size: 32px;" class="fab fa-pinterest"></i></span></h4>
                <a data-pin-do="embedUser" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/iam_dreamy/boards/"></a>
            </div>
            <div class="col-sm-4"></div>

        </div>
    </div>
    <div class="rights container-fluid">
        <h5>Copyrights |2020 | </h5>
    </div>
</footer>

<!--Pinterest Javascript-->
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<!-- flickity JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>